* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popings", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2019/02/25/14/56/wave-4019797_960_720.jpg");
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.container {
  max-width: 700px;
  width: 100%;
}

#todo__heading {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(53, 13, 92);
  font-weight: bolder;
}
.main {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input[type="text"],
input[type="button"],
.display-console {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

input[type="button"] {
  background-color: rgba(91, 37, 216, 0.689);
  color: white;
  font-weight: bolder;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: rgba(91, 31, 231, 0.689);
  color: rgba(0, 0, 0, 0.682)
}

input[type="button"]:active {
    background-color: #510fe0;
    box-shadow: 0 2px #666;
    transform: translateY(5px);
}

input[type="text"] {
  background-color: white;
  width: 50vw;
  outline: none;
}

input[type="text"]:focus {
  color: white;
  outline: 1px solid black;
  background-color: transparent;
}

.display {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.display-console {
  margin-top: 5vh;
  background-color: rgba(11, 11, 193, 0.861);
  color: white;
  font-weight: bold;
}

.todo-list {
  display: flex;
  margin: 5px 0;
}

.todo-list__btn--edit,
.todo-list__btn--delete,
.todo-list__btn--save,
.todo-list__input {
  padding: 10px 20px;
}

.todo-list__input {
  background-color: transparent;
  display: inline-block;
  outline: none;
  border: none;
  width: 44vw;
  color: rgb(250, 250, 250);
  letter-spacing: 1.6px;
  margin-right: 2px;
}
.todo-list__input:focus {
  background-color: rgba(255, 255, 255, 0.308);
  border-radius: 5px;
}
.todo-list__btn {
  display: inline-flex;
  gap: 5px;
}
button {
  border-radius: 5px;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(68, 12, 221);
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(5px);
}
